
.co-left{
  position: fixed;
  width: 175px;
  height: 100%;
  left: 0;
  top: 66px;
  background-color: #182390;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  z-index: 4;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
}
.icon{
  font-size: 35px !important;
}
.co-blue{
  color:#2eaef1;
}
.co-left > ul {
  margin: 0;
}
.co-left > ul > li {
  padding: 0;
}
.co-left > ul > li > a {
  display: block;
  // color: #a8b5d8;
  text-align: center;
  padding: 16px 0;
  height: 82px;
  text-decoration: none !important;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
}
.co-left > ul > li > a:hover,
.co-left > ul > li.active > a, {
  /* background-color: #1d4c9e; */
  background-color: #f7f7f7;
  color: #23aaea;
  box-shadow: inset 5px 0 0 #23aaea;
}

.co-left > ul > li > a:active{
  background-color: #1d4c9e;
  color: #ffffff;
}
.co-left > ul > li.co-li-first > a {
  padding: 0;
  color: #ffffff;
}
.co-left > ul > li.co-li-first {
  max-height: 300px !important;
}
.co-li-first img{
  margin-top: 5px;
  min-width: 80px !important;
  max-width: 46px !important;
    min-width: 69px !important;
    border-radius: 50%;
    background: #46d8d5;
}
.co-li-first .btns{
  font-size: 14px;
  border: 0;
  outline: none !important;
  line-height: 42px;
  padding: 0 35px;
  background-color: #2a58ad;
  border-radius: 70px;
  border: 1px solid #2eaef1;
  color: #ffffff;
  margin-top: 40px;
}
.co-left > ul > li.co-li-first{
  margin: 0;
  // min-height: 196px;
  /*line-height: 122px;*/
}
.co-left > ul > li > a > i{
  display: block;
  font-size: 35px;
  margin: 3px 0;
}
.co-left > ul > li > a > span{
  font-size: 14px;
  display: block;
}
.hide-left{
  padding: 10px;
  display: none;
}

@media only screen and (max-width: 480px){
  .co-left{
    width: 42px;
  }
  .co-left > ul > li > a{
    height: 42px;
    line-height: 42px !important;
    padding: 0;
  }
  .co-left > ul > li > a > span{
    display: none;
  }
  .co-left > ul > li > a > i {
    font-size: 16px;
    line-height: 42px !important;
    margin: 0;
  }
  .co-left > ul > li.co-li-first > a > i{
    line-height: 42px !important;
  }
  .co-content{
    position: fixed;
    width: calc(100% - 42px);
    width: -webkit-calc(100% - 42px);
    width: -moz-calc(100% - 42px);
    height: calc(100% - 42px);
    height: -webkit-calc(100% - 42px);
    height: -moz-calc(100% - 42px);
    top: 42px;
    left: 42px;
    padding: 24px 12px;
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .co-top{
    width: calc(100% - 42px);
    width: -webkit-calc(100% - 42px);
    width: -moz-calc(100% - 42px);
    left: 42px;
    padding: 0 12px;
    line-height: 42px;
  }
  .co-left > ul > li > a > span{
    display: none;
  }

}
@media only screen and (max-width: 991px) {
  .co-left{
    width: 44px !important;
  }
  .navbar-inverse{
    background: #2a58ad;
  }
  .navbar-inverse .navbar-brand {
    color: #ffffff;
  }
  .co-blue{
    display: none;
  }
  .co-left > ul > li > a > span{
    display: none!important;
  }
  .co-left > ul > li > a > i, .fa{
    color: #2eaef1;
  }
  .mb-3{
    margin-bottom: 3rem !important;
  }
  .row{
    margin: 0;
    padding: 0;
  }
  .co-left{
    top: 64
  }
}

  .mt-10{
    margin-top: 6rem !important;
  }

.row{
  margin: 0;
  padding: 0;
}
.nav{
  position: fixed !important;
  width: 100% !important;
}
i, .fa-list, i + span, li{
  color: white;
}
 li:hover i, li:hover span{
  color: #23aaea;
}
.main{
  position: relative;
  z-index: 1;
  top: 32px;
}
